:root {
    --theme-logo-color: #1d1d1d;
    --theme-page-title-color: #1d1d1d;
    --theme-page-subtitle-color: #030f21;
    --theme-text-color: #737d8a;
    --theme-secondary-text-color: #5e7488;
    --theme-dark-background: #232323;
    --theme-white-bg-color: #fff;
    --theme-white-text-color: #fff;
    --theme-black-text-color: #1d1d1d;
    --theme-black-text-dark-color: #000;
    --theme-black-text-light-color: #041329;
    --theme-black-text-light-200-color: #212f43;
    --theme-green-text-color: #68956b;
    --theme-gry-text-color: #8a8a8a;
    --theme-gry-800-text-color: #888f99;
    --theme-gry-900-text-color: #9d9d9d;
    --theme-active-pagination-background-color: #030f21;
    --theme-active-pagination-text-color: #fff;
    --theme-dropdown-background-color: #fff;
    --theme-dropdown-border: #e7e7e7;
    --theme-filter-clear: red;
    --theme-dropdown-dark-black: #030f21;
    --theme-yellow-text-color: #fcb913;
    --theme-card-background-color: #171717;
    --theme-light-background-color: #fffde7;
    --theme-search-box-border-color: #dadee1;
    --theme-search-box-text-color: #1d1d1d;
    --theme-search-box-placeholder-color: #abb1ba;
    --theme-search-box-input-text-color: #1d1d1d;
    --theme-light-button-background-color: #f2f2f2;
    --theme-light-button-background-hover-color: #d6d6d6;
    --theme-light-button-text-color: #525252;
    --theme-checkbox-border-color: #ededed;
    --theme-checkbox-background-color: #1aad17;
    --theme-checkbox-icon-color: #fff;
    --theme-button-link-text-color: #68956b;
    --theme-box-divider-color: #ecf2f3;
    --theme-divider-color: #ededed;
    --theme-card-border-color: #e5e7eb;
    --theme-input-border-color: #ededed;
    --theme-input-text-color: #030f21;
    --theme-input-rate-border-color: #ededed;
    --theme-input-rate-text-color: #030f21;
    --theme-header-divider-color: #dadee1;
    --theme-header-text-color: #1d1d1d;
    --theme-white-background-color: #fff;
    --theme-light-background-color: #f2f2f2;
    --theme-button-text-color: #030f21;
    --theme-button-secondary-text-color: #fff;
    --theme-button-secondary-background-color: #68956b;
    --theme-button-secondary-background-hover-color: #395b3c;
    --theme-header-background-color: #f1f5fa;
    --theme-header-text-color: #101828;
    --theme-fill-button-background-color: #0568fd;
    --theme-fill-button-text-color: #fff;
    --theme-outline-button-text-color: #101828;
    --theme-light-blue-background-color: #f1f5fa;
    --theme-heading-text-color: #101828;
    --theme-footer-text-color: #98a2b3;
    --theme-searchbar-box-backgroound-color: #fff;
    --theme-searchbar-box-border-color: #d0d5dd;
    --theme-search-placeholder-color: #667085;
    --theme-search-text-color: #101828;
    --theme-gray-light-text-color: #475467;
    --theme-card-background-color: #fff;
    --theme-gay-button-background-color: #eaecf0;
    --theme-gay-button-text-color: #475467;
    --theme-dark-black-color: #000;
    --theme-gray-600-black-color: #667085;
    --theme-black-button-border-color: #000;
    --theme-link-text-color: #0568fd;
    --theme-blue-outline-button-border-color: #0568fd;
    --theme-blue-outline-button-text-color: #0568fd;
}