.container {
    max-width: 1188px;
    padding: 0 24px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1338px;
    padding: 0 24px;
    margin: 0 auto;
}

.container-xl {
    max-width: 1352px;
    padding: 0 24px;
    margin: 0 auto;
}